<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Mail</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #h {
            text-align: center;
            margin-top: 30px;
        }

        #R:hover {
            color: #f6f8f7;
            background-color: rgba(0, 0, 0, 0.661);
            box-shadow: 2px 4px 6px rgb(206, 8, 8);
            border-radius: 5px;
            transition-duration: 0.5s;
        }

        #forget {
            max-width: 400px;
            margin: 0 auto;
            margin-top: 50px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h2 id="h">Verify Mail</h2>
        <% if(typeof message != 'undefined'){ %>
            <div class="alert alert-info"><%= message %></div>
        <% } %>
        <form action="" method="post" id="forget">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" required aria-describedby="emailHelpId"
                    placeholder="Email Address">
            </div>
            <button type="submit" class="btn btn-primary btn-block" id="R">Send Verification Mail</button>
        </form>
    </div>

    <!-- Link to Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
